{% trans_default_domain 'yiggle_form_wizard' %}

<aside class="yw-aside">
    <div class="yw-aside-card">
        <div id="wizard-receipt-container">
            {% include '@YiggleFormWizard/components/wizard/_receipt.html.twig' with { receipt: receipt } only %}
        </div>
    </div>
</aside>

<div class="yw-receipt-mobile">
    <input type="checkbox" id="yw-receipt-toggle">
    <label for="yw-receipt-toggle" class="yw-mobile-header">
        <span class="yw-mobile-total-label">{{ 'yiggle_form_wizard.wizard.receipt.mobile_toggle'|default('Overzicht')|trans }}</span>
        <span class="yw-mobile-total-value" id="wizard-receipt-container-mobile">
            {{ (receipt.totalInCents / 100)|format_currency('EUR', {rounding_mode: 'floor'}) }}
        </span>
    </label>

    <div class="yw-mobile-body" id="wizard-receipt-mobile-body">
        <div>
            {% include '@YiggleFormWizard/components/wizard/_receipt_mobile_body.html.twig' with { receipt: receipt } only %}
        </div>
    </div>
</div>
